<header>
<div class=".navbar" class=".transparent");>


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">RESOURCE WALL</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <% if (!userId) { %>
        <li class="nav-item ">
          <a class="nav-link" href="/sign_up_page">Sign Up <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sign_in_page">Sign In</a>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/add_resources">Create Resource</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/resource_view">All Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/resource_view">Update User Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Log Out</a>
        </li>
        <p> Logged In A : <%= userId %> </p>
        <% } %>
      </ul>


      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" name="search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>


</div>
</header>
