<header>
<div class=".navbar" class=".transparent">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" style="color: #007AFF;" href="#">REFERENCE WALL</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <div class="sign-in-button">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" id="signUpBtn">Sign Up</button>

        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" id="signInBtn">Sign In</button>

        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" id="createResource">Create Resource</button>

        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" id="allResource">All Resources</button>

      </div>
    </div>
  </nav>
</div>
</header>
