<!DOCTYPE html>
<html>

<head>

  <title>Resource Creator Page</title>

  <link href="styles/page.css" rel="stylessheet">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!--Bootsrap 4 CDN-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

  <!--Fontawesome CDN-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  <!--Custom styles-->
  <link rel="stylesheet" type="text/css" href="styles/loginPage.css">
</head>

<body>
  <% for (resource of rows) { %>
  <div class="container">
    <div class="d-flex justify-content-center h-100">
      <div class="card">
        <div class="card-header">
          <h3 style="
          padding-top: 50px;
      ">Profile of <%= resource.name %></h3>
          <div class="d-flex justify-content-end social_icon">
            <span><a href="https://www.facebook.com/" style="color: #FFC312;"><i class="fab fa-facebook-square"></i></a></span>
            <span><i class="fab fa-google-plus-square"></i></span>
            <span><i class="fab fa-twitter-square"></i></span>
          </div>
        </div>
        <div class="card-body">

          <h5 style="
          color: aliceblue;
      "> Name : <%= resource.name %></h5>
          <h5 style="
          color: aliceblue;
      "> email : <%= resource.email %></h5>



        </div>
        <div class="card-footer">
          <div class="followBTN">
          <button type="button" class="btn btn-primary">Follow</button>
          <span> <a href="/resource_view"> <button type="button" class="btn btn-primary">Back</button></a></span>
        </div>
        </div>
      </div>
    </div>
  </div>
  <% } %>
</body>

</html>
