<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body
	style="background-image: url('https://www.google.com.np/imgres?imgurl=https%3A%2F%2Fwww.w3schools.com%2Fw3css%2Fimg_lights.jpg&imgrefurl=https%3A%2F%2Fwww.w3schools.com%2Fw3css%2Fw3css_images.asp&docid=R0KnAtfyBDsyiM&tbnid=kwgHAQqTiLQXLM%3A&vet=10ahUKEwj5z9nr277bAhWBbX0KHZzyAS8QMwitASgBMAE..i&w=600&h=400&bih=702&biw=1366&q=image&ved=0ahUKEwj5z9nr277bAhWBbX0KHZzyAS8QMwitASgBMAE&iact=mrc&uact=8'); background-repeat: no-repeat; background-size: cover;">
	<main class="mask rgba-black-light d-flex justify-content-center align-items-center">
		<div class="container">
			<div class="row wow fadeIn">
				<div class="col-md-6 mb-4 white-text text-center text-md-left">
					<h1 class="display-4 font-weight-bold">Profile Page</h1>
					<hr class="hr-light">
				</div>
				<div class="col-md-6 col-xl-5 mb-4">
					<div class="card">
						<div class="card-body">


							<form method="POST" action="/updateprofile"><br><br>
								<p class="h4 text-center mb-4">Update your profile</p>

								<div class="md-form">
									<i class="fa fa-envelope prefix grey-text"></i>
									<input type="text" class="form-control">
									<label> Enter your new email</label>
								</div>


								<div class="md-form">
									<i class="fa fa-exclamation-triangle prefix grey-text"></i>
									<input type="text" class="form-control">
									<label>Confirm your email</label>
								</div>


								<div class="md-form">
									<i class="fa fa-lock prefix grey-text"></i>
									<input type="text" class="form-control"> 
									<label>Your password</label>
								</div>


								<div class="md-form">
									<i class="fa fa-exclamation-triangle prefix grey-text"></i>
									<input type="text" class="form-control">
									<label>Confirm Your password</label>
									<button type="submit" class="btn btn-danger active btn-lg">Update Account</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>

</html>