.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover,
.rating > span:hover ~ span {
  color: transparent;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   left: 0;
   color: gold;
}

.fa-thumbs-up:hover {
  color: blueviolet;
  transform: scale(1.5);
}


.mb-3:hover {
  color: #07356e;
}

.mb-3 {
 box-shadow: 10px 10px 20px;
 color: black;
}


.creator {
  color: brown;
}
